.main__header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 5px;
}

.logo {
  background-color: coral;
  padding: 0;
}

img {
  max-height: 100%;
  padding: initial;
}

.omnibox {
  display: flex;
  align-items: center;
  border: black 1px solid;
  border-radius: 0.5em;
  background-color: blue;
  padding: 0;
  flex: auto;
}

.avatar {
  background-color: coral;
  padding: 0;
  width: 50px;
  /*border-radius: 1em;*/
}
