.omnibox__slot form {
  display: flex;
  height: 100%;
  width: 99%;
}

.omnibox__slot form input {
  /*height: 100%; !* no sembla necessari *!*/
  width: 100%;
  border-radius: 100vh;
  padding: 1em;
  font-size: large;
}
