.omnibox form {
  display: flex;
  height: 100%;
  width: 99%;
}

.omnibox form input {
  /*height: 100%; !* no sembla necessari *!*/
  width: 100%;
}

.omnibox p {
  background-color: yellow;
}

.omnibox span {
  background-color: blueviolet;
}
