<!--<div id="card__template">-->
<!--  <article class="card">-->
<!--    <h3 class="card__title"></h3>-->
<!--    <section class="card__body"></section>-->
<!--  </article>-->
<!--</div>-->
<div id="card__template">
  <div class="game">
    <div class="rank"><i class="fa-solid fa-2xs fa-user"></i></div>
    <div class="front">
      <img class="thumbnail" src="views/card/img/person-thumbnail.svg" alt="" />
      <h3 class="name">OBI - WAN KENOBI</h3>
      <div class="stats">
        <p class="viewers">539.9k</p>
        <!--        <div class="streamers">-->
        <!--          <img src="views/card/img/actor-ewan.jpg" alt="ewan" />-->
        <!--          <img src="views/card/img/actor-moses.jpg" alt="moses" />-->
        <!--          <img src="views/card/img/actor-vivien.jpg" alt="vivien" />-->
        <!--        </div>-->
      </div>
    </div>

    <div class="back">
      <div class="streaming-info">
        <p class="game-stat">559k<span>Vote Avg</span></p>
        <p class="game-stat">25.8k<span>Vote Cnt</span></p>
      </div>

      <div class="buttons">
        <button class="btn">Add to Watchlist</button>
        <button class="btn">Details</button>
      </div>

      <!--      <p>Overview</p>-->

      <!--      <div class="streamers">-->
      <!--        <div class="streamer">-->
      <!--          <div class="icon">-->
      <!--            <img src="views/card/img/actor-ewan.jpg" alt="ewan" />-->
      <!--          </div>-->
      <!--          <p class="name">Ewan</p>-->
      <!--          <p class="number">36.1k</p>-->
      <!--        </div>-->
      <!--        <div class="streamer">-->
      <!--          <div class="icon">-->
      <!--            <img src="views/card/img/actor-moses.jpg" alt="moses" />-->
      <!--          </div>-->
      <!--          <p class="name">Moses</p>-->
      <!--          <p class="number">25.1k</p>-->
      <!--        </div>-->
      <!--        <div class="streamer">-->
      <!--          <div class="icon">-->
      <!--            <img src="views/card/img/actor-vivien.jpg" alt="vivien" />-->
      <!--          </div>-->
      <!--          <p class="name">Vivien</p>-->
      <!--          <p class="number">14.1k</p>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>

    <div class="background">
      <img src="views/card/img/movie-thumbnail.svg" alt="" />
      <svg width="0" height="0" x="0px" y="0px">
        <defs>
          <clipPath id="wave" clipPathUnits="objectBoundingBox">
            <path
              d="M1.5,0H1H0.5H0v0.8C0.3,0.8,0.3,1,0.5,1c0,0,0,0,0,0C0.8,1,0.8,0.8,1,0.8c0,0,0,0,0,0C1.3,0.8,1.3,1,1.5,1
    	C1.8,1,1.8,0.8,2,0.8V0H1.5z"
            />
            <animateTransform
              attributeType="XML"
              attributeName="transform"
              type="translate"
              from="0 0"
              to="-200 0"
              begin="0s"
              dur="10s"
              repeatCount="indefinite"
            />
          </clipPath>
        </defs>
      </svg>
    </div>
  </div>
</div>
