#search-result {
  /*display: flex;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin: 5rem;
  /*grid-template-rows: repeat(6, 1fr);*/
  /*border: 1px solid black;*/
}
