#search-result {
  /*display: flex;*/
  /*justify-content: space-between;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  margin: 5rem;
  /*grid-template-rows: repeat(6, 1fr);*/
  /*border: 1px solid black;*/
}
/*

poster:   https://image.tmdb.org/t/p/original/lFf6LLrQjYldcZItzOkGmMMigP7.jpg
backdrop: https://image.tmdb.org/t/p/original/npD65vPa4vvn1ZHpp3o05A5vdKT.jpg
*/
